@import 'rfs';
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

body {
  background-color: #070707;
  font-family: 'Muli', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
}

.container {
  background-image: url(./bgc.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50rem;
  max-width: 100rem;
  width: 85rem;
  border-radius: 10px;

  & .form-container {
    position: relative;
    margin: 3rem;
    width: 50rem;
    height: 90%;
    padding: 4rem;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;

    & h3 {
      margin-top: 2rem;
      text-align: center;
      @include font-size(1.5rem);
    }

    & .btn {
      border: 0;
      padding: 1rem 2rem;
      border-radius: 4px;
      margin: 2rem 0;
      display: flex;
      justify-content: center;
      align-items: center;

      & img {
        width: 25px;
        height: 25px;
        background-color: #fff;
        border-radius: 50%;
        padding: 0.3rem;
        margin-right: 1.5rem;
      }
    }

    & .btn-blue {
      background-color: #4484f2;
      color: #fff;
      @include font-size(1.3rem);
    }

    & .divider {
      position: relative;
      text-align: center;
      margin: 2.5rem 0;
      @include font-size(1.5rem);
    }

    & .divider::before {
      content: '';
      width: 40%;
      height: 1px;
      background-color: #fff;
      opacity: 0.5;
      position: absolute;
      left: 0;
      top: 6px;
    }
    & .divider::after {
      content: '';
      width: 40%;
      height: 1px;
      background-color: #fff;
      opacity: 0.5;
      position: absolute;
      right: 0;
      top: 6px;
    }

    & .form-group {
      & label {
        @include font-size(1.4rem);
        margin-bottom: 5px;
      }

      & input {
        width: 100%;
        background-color: transparent;
        border: 2px solid rgba(255, 255, 255, 0.4);
        border-radius: 4px;
        padding: 1.3rem 2rem;
        @include font-size(1.5rem);
        color: #fff;
      }
    }

    & .btn-white {
      @include font-size(1.5rem);
    }

    & .forgot {
      position: absolute;
      bottom: 4rem;
      display: flex;
      @include font-size(1.3rem);

      & a {
        margin-left: 1rem;
        text-decoration: none;
      }
    }
  }

  & .info-text {
    margin-top: 35rem;
    width: 60rem;
    & h3 {
      @include font-size(1.6rem);
    }

    & p {
      margin-top: 1.5rem;
      text-align: justify;
      @include font-size(1.4rem);
    }
  }
}

@media only screen and (max-width: 37.5em) {
  .info-text {
    display: none;
  }
}
